

body {
  background-color:#E6E8EA;
}

.border-primary {
 
  border-color: #000;
}

.border-b {
  border-bottom-width: 1px;
}

.ml-auto {
  margin-left: auto;
}

#border_black{
  border:1px solid #000;
}


.animate-up-down {
  animation: scroll-down 4s infinite backwards;
  animation-delay: 4s;
}

@keyframes scroll-down{
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }

  20% {
    transform: translateY(0);
    opacity: 1;
  }

 
  
  40% {
    transform: translateY(50.9485%);
    opacity: 0;
  }



  60% {
    transform: translateY(-40%);
    opacity: 0;
  }

  80%{
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50.9485%);
    opacity: 0;
  }
}


#blackline {
  border: 1px solid #000;
}

