
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');


:root {
  --header-height: 3.4722222222222223vw;
}


.host-grotesk-thin {
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.host-grotesk-medium {
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.host-grotesk-bold {
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.host-grotesk-superbold {
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.host-grotesk-fat {
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.host-grotesk-fatfat {
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}


.noto-sans-kr-thin {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}


.noto-sans-kr-extralight{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.noto-sans-kr-light{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.noto-sans-kr-regular{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-kr-medium{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.noto-sans-kr-semibold{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.noto-sans-kr-bold{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.noto-sans-kr-extrabold{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.noto-sans-kr-black{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.bodoni-moda-thin {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}


.bodoni-moda-regular {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}

.bodoni-moda-medium {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
}


.bodoni-moda-semibold {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
}

.bodoni-moda-bold {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight:800;
  font-style: normal;
}

.bodoni-moda-extrabold {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight:900;
  font-style: normal;
}


body {
  background-color:#E6E8EA;
}

.border-primary {
 
  border-color: #000;
}

.border-b {
  border-bottom-width: 1px;
}

.ml-auto {
  margin-left: auto;
}

#border_black{
  border:1px solid #000;
}



.animate-up-down {
  animation: scroll-down 4s infinite backwards;
  animation-delay: 4s;
}

@keyframes scroll-down{
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }

  20% {
    transform: translateY(0);
    opacity: 1;
  }

 
  
  40% {
    transform: translateY(50.9485%);
    opacity: 0;
  }



  60% {
    transform: translateY(-40%);
    opacity: 0;
  }

  80%{
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50.9485%);
    opacity: 0;
  }
}


#blackline {
  border: 1px solid #000;
}

